.all-content {
    display: inline-flex;
    padding: 25px;
    flex-wrap: wrap;
}

body {
    background-image: url('../assets/astronomy-black-wallpaper-constellation-2150.jpg');
    background-size: 100%;
    background-repeat: repeat-y
}

.canvas-container {
    width: 810px;
    height: 510px;
    display: block;
    background: rgba(0,0,0,.9)
    
}

nav {
    background-color: black;
    color: white;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

nav a {
    font-family: herculanum, fantasy;
    text-decoration: none;
    margin-right: 5px;
    color: #AEB6BF;
}

nav a:hover {
    color: white;
    cursor: pointer;
}

.home-link {
    color: white;
    font-size: 20px;
}

.home-link i {
    margin-right: 3px;
}