#gravity-playground {
    display: flex;
    justify-content: center;
    /* padding: 25px; */
    flex-wrap: wrap;
    margin: 0 auto;
}

.user-inputs {
    padding: 10px 0px;
    min-width: 350px;
    background: rgba(255,255,255,.7);
    border-radius: 5px;
    color: black;
}

.user-inputs h3 {
    font-size: 22px;
    padding-bottom: 5px;
    border-bottom: 1px solid #AEB6BF;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

input {
    padding: 3px 15px;
    font-size: 14px;
    border-radius: 3px;
    height: 24px;
    border: 1px solid #AEB6BF;
    /* font-family: fantasy; */
    
}

input:focus {
    outline: none;
    border: 1px solid #FCF3CF;
}

.vector-input {
    width: 35px;
    text-align: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    width: 90%;
}

#planet-color {
    width: 137px;
    height: 30px;
    padding: 10px;
    font-size: 14px;
}

#mass {
    width: 87px;
}

.submit {
    border-radius: 3px;
    border: 1px solid #AEB6BF;
    padding: 10px 2px 5px;
    box-shadow: 2px 2px 5px #AEB6BF;
    width: 150px;
    margin: 10px 0;
    font-size: 16px;
}

.body-button {
    color: white;
    background-color: black;
}

.star-button {
    color: black;
    background-color: #F7DC6F;
}

.submit:focus {
    outline: none;
}

.submit:active {
    box-shadow: none;
}

.playground-buttons {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.playground-buttons button {
    background-color: white; 
    padding: 5px 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    border-radius: 5px;
    border: 3px solid white;
}

.playground-buttons button:hover {
    cursor: pointer;
    background: transparent;
    color: white;
}

.playground-buttons button:focus {
    outline: none;
}

.playground-buttons i {
    margin: 0px 3px;
    font-size: 30px;
}

.playground-buttons strong {
    margin-top: 3px;
}