#our-solar-system {
    display: flex;
    flex-direction: column;

}

header {
    background-color: black;
    color: white;
    padding: 15px;
    font-family: herculanum, fantasy;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.solar-header h3 {
    font-size: 35px;
    margin: 10px;
}